@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: #ffff;
  font-family: "Inter", sans-serif;

  --primary-color: #bf0d3e;
  --text-color: #ddd;
}

.title {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 5rem;
  line-height: 3rem;
  margin: 0 0 1rem 0;
}

.subtitle {
  color: #ddd;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 5rem;
  font-size: 0.7rem;
  text-align: center;
  align-items: center;
}

.nav-item,
.bnav,
.rnav {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.5 ease-in-out;
}

.bnav:hover {
  background-color: #0032a0;
}

.nav-item:hover {
  color: #fed141;
}

.rnav:hover {
  background-color: #bf0d3e;
}

.pinoy {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(./images/front.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gelb {
  color: #fed141;
}

.blau {
  color: #0032a0;
}

.rot {
  color: #bf0d3e;
}

.pinoy-action {
  margin-top: 4rem;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #ffff;
  background-color: #bf0d3e;
  padding: 1rem 2rem;
  border: 1px solid #bf0d3e;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: #bf0d3e;
}

.about .heading {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 5px solid #0032a0;
}

.text-content {
  font-size: 0.9rem;
  color: var(--text-color);
}

.about {
  display: grid;
  gap: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-action {
  width: fit-content;
  margin-top: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #0032a0;
  padding: 0.5rem 1rem;
  border: 1px solid #0032a0;
  transition: all 0.3s ease-in-out;
}

.button-action:hover {
  background-color: transparent;
  color: #0032a0;
}

.about-images {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.large-image {
  min-width: 50%;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-images {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-wrapper {
  margin: 3rem 0;
  padding: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/dutytime.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info .heading {
  margin: 0 auto;
}

.info .heading {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 5px solid #bf0d3e;
}

.hours {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.entry {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin-bottom: 0.25rem;
}

.reserv {
  width: fit-content;
  margin-top: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.1rem 0.1rem;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
}

.reserv:hover {
  background-color: transparent;
  color: var(--text-color);
}

.day {
  color: var(--text-color);
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact .heading {
  margin-top: 0;
}

.contact-detail {
  margin-top: 0.5rem;
  color: var(--text-color);
}

.contact-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contact-image {
  width: 100%;
}

.contact .heading {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 5px solid #fed141;
}

.button {
  width: fit-content;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  color: var(--text-color);
  background-color: #0032a0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: var(--text-color);
}

.button-inverted {
  width: fit-content;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button-inverted:hover {
  background-color: #bf0d3e;
  color: var(--text-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: #303030;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-items {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2 ease-in-out;
}

.footer-items:hover {
  color: #fed141;
}

.footercopyright {
  margin-top: 1rem;
  color: var(--text-color);
}

.menu {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(./images/front.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.price {
  color: var(--text-color);
}

.menu-action {
  margin-top: 4rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.menu-action:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.dining {
  margin: 3rem 0;
  padding: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/haupt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dessert-list {
  margin: 3rem 0;
  padding: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/dessert.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drinks-list {
  margin: 3rem 0;
  padding: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/getränke.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .contact-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact-image {
    width: 45%;
  }

  .button,
  .button-inverted {
    padding: 1.2rem 2.5rem;
  }

  .text-content {
    font-size: 1rem;
  }

  .nav .footer-links {
    gap: 2rem;
    font-size: 1rem;
  }

  .footer {
    margin-top: 4rem;
    padding: 3rem 0;
    gap: 3rem;
  }

  .footer-links {
    flex-direction: row;
  }

  .title {
    font-size: 5rem;
    line-height: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .pinoy-action {
    padding: 1.5rem 2.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .contact .heading {
    margin-bottom: 2rem;
  }

  .contact-image {
    width: 40%;
  }

  .contact-detail {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .contact-actions {
    flex-direction: row;
  }

  .title {
    font-size: 7rem;
    line-height: 5rem;
  }

  .heading {
    font-size: 2rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }

  .about-images,
  .small-images {
    gap: 1rem;
  }

  .info-wrapper {
    margin: 8rem 0;
    padding: 6rem 0;
  }

  .dining {
    margin: 8rem 0;
    padding: 6rem 0;
  }

  .dessert-list {
    margin: 8rem 0;
    padding: 6rem 0;
  }

  .drinks-list {
    margin: 8rem 0;
    padding: 6rem 0;
  }

  .hours {
    margin-top: 2rem;
  }

  .entry {
    width: 20rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .nav .footer-links {
    gap: 4rem;
  }

  .footer {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
